body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: normal;
  font-size: 14px;
  max-width: 1600px;
}

:root {
  --brand-color: #2196f3;
  --paragraphs-mail-tel: #757575;
  --hero-background-color: #2f303a;
  --white-font: #ffffff;
  --footer-background-color: #2f303a;
  --logo-black: #000000;
  --bgr-button-sectionteam: #f5f4fa;
  --main-font-color: #212121;
  --footer-tel-mail: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*логотип*/

.logo-konstant {
  color: var(--brand-color);
}
.logo-black {
  color: var(--logo-black);
}
.logo-white {
  color: var(--white-font);
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.whole-logo {
  margin-right: 90px;
  padding: 24px 25px;
}

/*шапка*/
.cap {
  background-color: var(--white-font);
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}
.connect {
  margin-left: auto;
}
.header-navigation {
  display: flex;
}

.nav-items {
  color: var(--main-font-color);
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
}

.nav:not(:last-child) {
  margin-right: 53px;
}

.nav-connect:not(:last-child) {
  margin-right: 53px;
}
.nav-items:hover,
.nav-items:focus {
  color: var(--brand-color);
}

.active {
  color: var(--brand-color);
}

.mail-tel {
  color: var(--paragraphs-mail-tel);
}
.mail-tel:hover {
  color: var(--brand-color);
}

/*герой студии*/
.hero {
  background-color: var(--hero-background-color);

  padding-left: 0;
  padding-right: 0;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-title {
  color: var(--white-font);

  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 696px;

  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button {
  border-radius: 4px;
  cursor: pointer;

  background-color: var(--brand-color);
  color: var(--white-font);

  margin-top: 30px;
  padding: 10px 32px;
  align-items: center;

  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

/*преимущества*/
.benefits {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.benefits-list {
  display: flex;
  flex-basis: calc(100% / 4);
  text-align: left;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-item {
  width: 270px;
}

.description-of-benefits {
  line-height: 1.71;
  color: var(--paragraphs-mail-tel);
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.heading {
  margin-bottom: 50px;
}

.work-list {
  display: flex;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/*наша команда студия*/
.section-team {
  background-color: var(--bgr-button-sectionteam);
}
.section-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  width: 270px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.full-name {
  color: var(--main-font-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.18px;
  color: var(--paragraphs-mail-tel);

  letter-spacing: 0.03em;
}

/*кнопки портфолио*/
.button {
  background-color: var(--bgr-button-sectionteam);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.cursor {
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--brand-color);
  color: var(--white-font);
}

/*карточки портфолио*/
.project-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--main-font-color);
}
.type-project {
  font-size: 16px;
  line-height: 1.87;
  color: var(--paragraphs-mail-tel);
}

/* футер */
.basement {
  background-color: var(--footer-background-color);
}

.basement-item {
  color: var(--white-font);
  line-height: 1.7;
  font-style: normal;
}
.basement-item:hover {
  color: var(--brand-color);
}

.link {
  color: var(--footer-tel-mail);
  text-decoration: none;
}

/*другие свойства*/
li {
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.portfolio-link {
  text-decoration: none;
}
